@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --bg-color-hsl: 59, 3%, 94%;
  --bg-color: hsl(var(--bg-color-hsl));
  --bg-color-translucent: hsla(var(--bg-color-hsl), 0.95);
  --bg-color-highlight: hsl(50, 60%, 50%);
  --duration: 1.25s;
  --ease: cubic-bezier(0.25, 1, 0.5, 1);
}

.text-highlight {
  all: unset;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: color calc(var(--duration) / 4) var(--ease),
    background-color calc(var(--duration) / 4) var(--ease),
    background-size var(--duration) var(--ease);

  --line-size: 0.2em;
  background-image: linear-gradient(
    transparent calc(100% - var(--line-size)),
    var(--bg-color-highlight) var(--line-size)
  );
}

.text-highlight-active {
  color: var(--color-text-highlight);
  background-size: 100% 100%;
}

.text-highlight:before,
.text-highlight::after {
  position: absolute;
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
}

@layer components {
  h1 {
    @apply py-6 text-6xl font-bold;
  }
  h2 {
    @apply py-4 text-5xl font-bold;
  }
  h3 {
    @apply py-2 text-4xl font-bold;
  }
  h4 {
    @apply py-1 text-3xl font-bold;
  }
  p,
  li {
    @apply text-xl;
  }

  a {
    @apply cursor-pointer text-blue-500;
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transform;
  }

  .btn {
    @apply mx-2 my-2 rounded-lg bg-blue-500 py-2 px-4 font-bold text-white transition-colors duration-300 hover:bg-blue-600;
  }

  .btn-github {
    @apply bg-[#6E5494] hover:bg-[#7e60aa];
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-width: 100vw;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background-color: black;
  }
}
